In [ ]:
for i in range(0,10+1): #print n natural numbers
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(0,20,2): #print even
  print(i)

0
2
4
6
8
10
12
14
16
18

In [ ]:
n = int(input("enter n:")) #sum of n numbers
sum = 0
for i in range(1,n+1):
  sum = sum + i
print(sum)

enter n:10
55

In [ ]:
sum = 0 #sum of odd numbers
for i in range(1,10,2):
  sum = sum+i
print(sum)

25

In [ ]:
a = int(input("enter a:")) #table using for loop
for i in range(1,11):
  print(a,"*",i,"=",a*i)

enter a:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
a = [2,3,4,5,5,6,7,8] #print numbers in a list
for i in a:
  print(i)

2
3
4
5
5
6
7
8

In [ ]:
a = 76543678 #count numbers
b = str(a)
len(b)

8

In [ ]:
a = "78738"
b = ""
for i in a:
  b = i+b
print(b)

83787

In [ ]:
a = "deepika" #reverse a string or palindrome
b = ""
for i in a:
  b = i+b
print(b)
if a == b:
  print("it is a palindrome")
else:
  print("not a palindrome")

akipeed
not a palindrome

In [ ]:
a = 153 #armstrong
b = str(a)
c = 0
for i in b:
  c += int(i) ** len(b)
print(c)
if int(b) == c:
  print("armstrong number")
else:
  print("not armstrong")

153
armstrong number

In [ ]:
b = [8,6,87,43,98] #print how many odd or even
for i in b:
  if i%2 == 0:
    print(i,"it is even")
  else:
    print(i,"it is odd")

8 it is even
6 it is even
87 it is odd
43 it is odd
98 it is even

In [ ]:
a = int(input("enter a: "))
if a>1:
  for i in range(2,a):
   if a%i == 0 :
    print(a,"is not prime")
    break
  else:
    print(a,"is prime")
else:
  print("Prime")

enter a: 15
15 is not prime

In [ ]:
a = int(input("enter a: "))
b = int(input("enter b: "))
for j in range(a,b+1):

  if j>1:
    for i in range(2,j):
      if j%i == 0 :
       print(j,"is not prime")
       break
    else:
      print(j,"prime")
  else:
    print(j,"prime")

enter a: 1
enter b: 30
1 prime
2 prime
3 prime
4 is not prime
5 prime
6 is not prime
7 prime
8 is not prime
9 is not prime
10 is not prime
11 prime
12 is not prime
13 prime
14 is not prime
15 is not prime
16 is not prime
17 prime
18 is not prime
19 prime
20 is not prime
21 is not prime
22 is not prime
23 prime
24 is not prime
25 is not prime
26 is not prime
27 is not prime
28 is not prime
29 prime
30 is not prime

In [ ]:
n = int(input("enter n:")) #fibonnaci
a = 1
b = 2
c = 0
for i in range(3,n+1):
  c = a+b
  a = b
  b = c
  print(c)

enter n:12
3
5
8
13
21
34
55
89
144
233

In [ ]:
n = int(input("enter n: ")) #factorial
fact = 1
for i in range(2,n+1):
  fact = fact*i
print(fact)

enter n: 5
120

In [ ]:
a = int(input("enter a"))
n1 = 0
n2 = 1

n3=0
for i in range(2,100):
  n3 = n1+n2
  n1 = n2
  n2 = n3
  if(a == n3 or a == 0 or a == 1):
    print("yes")
    break
else:
  print("no")

enter a6765
yes

In [ ]:
a = str(input("enter a:"))
print(ord(a))

enter a:g
103

In [ ]:
a = int(input("enter a:"))

enter a:10
385

In [ ]:
a = [2,3,4,5,6,7,8]
b = int(input("enter b:"))
for i in a:
    if b == i:
      print(b,"present")
      break
else:
    print(b,"not present")

enter b:54
54 not present